@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
// Fonts
$base-font-family: 'Ubuntu Mono', monospace !default;
$reading-font-family: 'Ubuntu Mono', monospace !default;
$headline-font-family: 'Ubuntu Mono', monospace !default;
$code-font-family:  Inconsolata !default;
$handwriting-font-family: "Dancing Script", "Ma Shan Zheng" !default;
$base-font-size:    18px !default;
$base-line-height:  1.5 !default;

// Layouts
$spacing-unit:      2rem !default;
$content-width:     1100px !default;

$on-small:          600px !default;
$on-medium:         900px !default;
$on-large:          1100px !default;
